version: "3.8"

services:

  nats-server:
    image: nats:latest
    ports:
      - "8222:8222"

  client-gateway: 
    build: 
      context: ./client-gateway
      dockerfile: Dockerfile
    command: npm run start:dev
    ports:
      - "${CLIENT_GATEWAY_PORT}:3000"
    volumes:
      - ./client-gateway/src:/usr/src/app/src
    environment:
      PORT: 3000
      NATS_SERVERS: "nats://nats-server:4222"

  products-ms:
    build: 
      context: ./products-ms
      dockerfile: Dockerfile
    command: npm run start:dev
    volumes:
      - ./products-ms/src:/usr/src/app/src
    environment:
      PORT: 3001
      NATS_SERVERS: "nats://nats-server:4222"
      DATABASE_URL: "file:./dev.db"
  
  # orders-ms:
  #   build: 
  #     context: ./orders-ms
  #     dockerfile: Dockerfile
  #   command: npm run start:dev
  #   volumes:
  #     - ./orders-ms/src:/usr/src/app/src
  #   environment:
  #     PORT: 3002
  #     NATS_SERVERS: "nats://nats-server:4222"
  #     DATABASE_URL: "postgresql://postgres:123456@orders-db:5432/ordersdb?schema=public"
  #   depends_on:
  #     - orders-db

  # orders-db:
  #   image: postgres:16.2
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: 123456
  #     POSTGRES_DB: ordersdb
  #   ports:
  #     - "5432:5432"
  #   volumes: 
  #     - ./orders-ms/postgres:/var/lib/postgresql/data
    